@{
    ViewBag.Title = "Sobre Nosotros";
}
<main aria-labelledby="EduPlatform">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>EduPlatform es una plataforma educativa profesional que ofrece cursos, recursos y herramientas diseñadas para impulsar el aprendizaje continuo.<p>
    <p>Con contenidos actualizados, metodología práctica y un entorno seguro, facilitamos el acceso a formación de calidad para estudiantes y profesionales que buscan desarrollar competencias relevantes en su campo.</p>
</main>